@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* RESET CSS */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #FFF9DC;
  --green: #1D946F;
  --white: #F7FFF6;
  --black: #001F20;
  --light-green: #E6FAF0;
  --pink: #E75A7C;
  --dark-green: #144327;
  --green-gradient: linear-gradient(81deg, rgba(20, 67, 39, 0.90) -0.03%, rgba(18, 165, 59, 0.90) 70.49%, rgba(19, 113, 45, 0.90) 100%);
  --light-green-gradient: linear-gradient(202deg, rgba(165, 239, 132, 0.95) 8.58%, rgba(29, 148, 111, 0.95) 91.42%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.app-bg-color {
  background-color: var(--background-color);
}
